.genreWrapper{
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 453px;

}
.cusub{
  display: table-cell;
  float: none;
  height: inherit;
  width: 50%;
  min-height: 1px;
  padding: 0;
  vertical-align: top;
}
.cusubImage{
  background-image: url(./bk.jpg);
  height: inherit;
  width: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  position: relative;
}
.cusubText{
  color: rgba(255,255,255,.87);
  font-size: 14px;
  padding: 48px;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: inherit;
  width: 100%;
}
.cusubHeader{
  font-family: Poppins,"Trebuchet MS","PT Sans","Helvetica Neue",HelveticaNeue-Light,Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin: 48px 0;
  line-height: 79px;
}
.cusubPraghref{
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 48px;
}
.cusubLink{
background-color: #1f1f25;
border-radius: 500px;
width: 72px;
height: 20px;
padding: 7px 42px;
font-size: 16px;
font-weight: 500;
margin-bottom: 48px;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
color: rgba(255,255,255,.87);
}
.cusubLink:hover{
color: rgba(255,255,255,.87);
text-decoration: none;
}
.cusubImage::after{
    background-image: linear-gradient(to right,#6887ff,#02b875);
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 0;
    background-color: inherit;
    opacity: .65;
    content: '';
    width: 100%;
    box-sizing: inherit;
}
.qaramiImage{
  background-image: url(./b2.jpg);
  height: inherit;
  width: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  position: relative;
}
.qaramiImage::after{
  background-image: linear-gradient(to right,#6887ff,#02b875);
  position: absolute;
  z-index: 0;
  height: 100%;
  top: 0;
  background-color: inherit;
  opacity: .65;
  content: '';
  width: 100%;
  box-sizing: inherit;
}
@media (max-width: 500px) {

.cusubHeader{
  font-size: 44px;
  line-height: 29px;
}

.genreWrapper{
  display: block;

  width: 100%;
  height: 453px;
}
}
