.bt{
  height: 505px;
  width: 100%;

}
.body{
  width: 344px;
  height: 455px;
  margin: 0 32%;
  padding: 24px 0;
  text-align: center;
  position: absolute;
  left: 5%;
}
.bodyWrapper{
  width: 100%;
  height: 100%;
  padding: 24px;

}
.header{
  color: rgba(0,0,0,.87);
  font-family: Poppins,"Trebuchet MS","PT Sans","Helvetica Neue",HelveticaNeue-Light,Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 26.4px;
  margin-bottom: 8px;
}
.text{
  color: rgba(0,0,0,.87);
  font-family:  "Segoe UI", "Trebuchet MS", "PT Sans", "Helvetica Neue", HelveticaNeue-Light, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 16px 0;
  opacity: 0.6;

}
.send{
  border: none;
  border-radius: 4px;
  font-family:  "Segoe UI", "Trebuchet MS", "PT Sans", "Helvetica Neue", HelveticaNeue-Light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 24px;
  background-color: #17171b;
  color: rgba(255,255,255,.87);
  width: 296px;
}
.send:hover{
  background-color: #333336;
}
.back{
  padding: 48px 0;
  font-family:  "Segoe UI", "Trebuchet MS", "PT Sans", "Helvetica Neue", HelveticaNeue-Light, Helvetica, Arial, sans-serif;
  font-size: 14px;

}
.SingIn{
  font-weight: 600;
  color: #02b875!important;
  margin-left: 3px;
  cursor: pointer;
}
.SingIn:hover{
  text-decoration: none;
}
